Flask>=0.10.1
Jinja2>=2.7.3
MarkupSafe>=0.23
Werkzeug>=0.9.6
argparse>=1.2.1
httplib2>=0.9
itsdangerous>=0.24
six>=1.8.0
wsgiref>=0.1.2
gunicorn>=19.1.1

# Twilio specific
twilio>=3.6.14

# Plivo specific
plivo==0.9.6
requests==2.5.1
